# 4.6 IC Combining & Exporting Data - Task

# The script below contains the following:

# 1. Import dataframes

# 2. Check the dimensions of the dataframes

# 3. Combine the two dataframes

# 4. Confirm the results of merge

# 5. Export the combined dataframe to pkl format

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 1.Import dataframes

In [2]:
# Create path variable

path = r'C:\Users\babum\Desktop\CF_Data Analytics\Data Immersion\Achievement 4\02-2023 Instacart Basket Analysis'

In [3]:
# Import products_checked dataframe

df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data', 'products_checked.csv'), index_col = [0])

In [4]:
# Import orders_products_combined dataframe

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# 2. Check the dimensions of the dataframes

In [5]:
#Check the output

df_prods.shape

(49672, 5)

In [6]:
df_ords_prods_combined.shape

(32434489, 11)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,new,196,1,0,both
1,2539329,1,1,2,8,NaN,new,14084,2,0,both
2,2539329,1,1,2,8,NaN,new,12427,3,0,both
3,2539329,1,1,2,8,NaN,new,26088,4,0,both
4,2539329,1,1,2,8,NaN,new,26405,5,0,both

# 3. Combine the two dataframes

In [9]:
#Dropping the indicator column from df_ords_prods_combined

df_ords_prods_combined_rev = df_ords_prods_combined.drop(columns = ['_merge'])

In [10]:
df_ords_prods_combined_rev.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,new,196,1,0
1,2539329,1,1,2,8,NaN,new,14084,2,0
2,2539329,1,1,2,8,NaN,new,12427,3,0
3,2539329,1,1,2,8,NaN,new,26088,4,0
4,2539329,1,1,2,8,NaN,new,26405,5,0

In [11]:
# Merging two dataframes

df_merged_ords_prods = df_prods.merge(df_ords_prods_combined_rev, on = 'product_id', indicator = True)

# 4. Confirm the results of merge

In [12]:
df_merged_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,existing,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,existing,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,existing,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,existing,11,1,both

In [13]:
df_merged_ords_prods.shape

(32404859, 15)

In [14]:
df_merged_ords_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_ords_prods_check = df_prods.merge(df_ords_prods_combined_rev, on = 'product_id', how = 'outer', indicator = True)

In [17]:
df_merged_ords_prods_check['_merge'].value_counts()

both          32404859
right_only       30200
left_only           11
Name: _merge, dtype: int64

# 5. Export the combined dataframe to pkl format

In [18]:
# Export data to pkl

df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))